$easy-gradient: radial-gradient(circle, #a8e0a1, #69d45b);
$medium-gradient: radial-gradient(circle, #fcd498, #ffcc80);
$hard-gradient: radial-gradient(circle, #f8a4a2, #ff6666);

.Card {
  border: solid 3px ghostwhite;
  transition: all 1s ease-in-out;
  background: transparent;

  &[data-difficulty='EASY'] {
    &:hover {
      cursor: pointer;
      background: $easy-gradient;
      transition: all 1s ease-in-out;
    }
  }

  &[data-difficulty='MEDIUM'] {
    &:hover {
      cursor: pointer;
      background: $medium-gradient;
      transition: all 1s ease-in-out;
    }
  }

  &[data-difficulty='HARD'] {
    &:hover {
      cursor: pointer;
      background: $hard-gradient;
      transition: all 1s ease-in-out;
    }
  }
}
