.HomePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  .CardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
  }
}
