.HomePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  .CardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
  }
}
.bouncyFlickerTitle {
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  animation:
    bounce 2s infinite,
    flicker 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.9;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.7;
  }
}
